@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71% 4%;

    --card: 210 40% 98%;
    --card-foreground: 224 71% 4%;

    --popover: 210 40% 98%;
    --popover-foreground: 224 71% 4%;

    --primary: 196.4 87.5% 42.5%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 300 25% 90.8%;
    --accent-foreground: 300 25% 9.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    
    --ring: 196.4 87.5% 42.5%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 220 20% 7%;
    --foreground: 180 20% 98%;

    --card: 220 20% 7%;
    --card-foreground: 180 20% 98%;

    --popover: 220 20% 7%;
    --popover-foreground: 180 20% 98%;

    --primary: 196.4 80.5% 52.5%;
    --primary-foreground: 197 90% 5%;
    
    --secondary: 220 15% 15%;
    --secondary-foreground: 180 20% 98%;
    
    --muted: 220 15% 15%;
    --muted-foreground: 180 20% 80%;

    --accent: 300 25% 18.8%;
    --accent-foreground: 300 25% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    
    --border: 220 15% 25%;
    --input: 220 15% 22%;
    
    --ring: 196.4 80.5% 52.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    min-height: 100vh;
    background-image: url('https://plus.unsplash.com/premium_photo-1661578947517-e292bf6cea5e?q=80&w=3520&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  body::before {
    content: '';
    @apply absolute inset-0 z-[-1];
    background-color: hsla(var(--background) / 0.6);
    backdrop-filter: blur(8px) saturate(1.2);
  }

  .bg-glass {
    background-color: hsla(var(--card) / 0.75);
    backdrop-filter: blur(12px);
    border-width: 1px;
    border-color: hsla(var(--border) / 0.2);
  }

  .bg-glass-popover {
    background-color: hsla(var(--popover) / 0.85);
    backdrop-filter: blur(16px);
    border-width: 1px;
    border-color: hsla(var(--border) / 0.2);
  }
}
